<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${user}" method="post" th:action="@{/register}">
		<table>
			<tr>
				<td>Email:</td>
				<td><input type=email th:field="*{email}" required /></td>
			</tr>
			
			<tr>
				<td>Password:</td>
				<td><input type=password th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>Firstname:</td>
				<td><input type=text th:field="*{firstName}" /></td>
			</tr>
			<tr>
				<td>Lastname:</td>
				<td><input type=text th:field="*{lastName}" /></td>
			</tr>
			<tr>
				<td>Department:</td>
				<td><select name="department">
						<option
							th:each="departmentOpt : ${T(edu.nus.java_ca.model.Department).values()}"
							th:value="${departmentOpt}" th:text="${departmentOpt}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Position:</td>
				<td><select name="position">
						<option
							th:each="positionOpt : ${T(edu.nus.java_ca.model.Position).values()}"
							th:value="${positionOpt}" th:text="${positionOpt}"></option>
				</select></td>
			</tr>
			<tr th:if="${#fields.hasAnyErrors()}">
				<td colspan="2"><ul>
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
					</ul></td>
			</tr>
			<tr>
				<td><input type=submit /></td>
			</tr>
		</table>
	</form>
</body>
</html>