<!--page for staff themself history-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout-admin.html :: html_head" />

<body>
	<div th:replace="fragment/layout-admin.html :: nav_topbar" />
	<div th:replace="fragment/layout-admin.html :: nav_sidebar" />

	<!-- YOUR CONTENT GOES HERE -->
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

		<!-- FORM -->
<style>
    .error {
        color: red;
    }
</style>
			<h4 class="mb-3">Staff Leave History</h4>
		<!-- some sessions code -->		 

	<h4 class="mb-3" th:if="${#lists.isEmpty(leaves)}">No Leave Applied</h4>
	   <div class="table-responsive">
          <table th:if="${not #lists.isEmpty(leaves)}"  class="table table-hover">
	 <thead>
		<tr >
			<th >Leave Id</th>
			<th >Start Date</th>
			<th >End Date</th>
			<th >Reason</th>
			<th >Status</th>
			<th >Leave Type</th>
			<th >Leave Taken</th>
			<th >Work Dissemination</th>
			<th >Contact Details</th >
		</tr>
		 </thead>
		 <tbody>
		<tr th:each="leave:${leaves}" class="table-row">
			<td th:text=${leave.leaveId}>Id</td>
			<td th:text="${#temporals.format(leave.startDate, 'dd/MM/yyyy')}">Start Date</td>
			<td th:text="${#temporals.format(leave.endDate, 'dd/MM/yyyy')}">End Date</td>
			<td th:text=${leave.reason}>reason</td>
			<td th:text=${leave.status}>status</td>
			<td th:text=${leave.type}>type</td>
			<td th:text=${leave.leavetaken}>leave taken</td>
			<td th:text=${leave.workdissem}>Work Dissem</td>
			<td th:text=${leave.contactdetail}>Contact detail</td>
			
			<td>
			<div th:if="${#strings.equals(leave.status, 'APPLIED')}or ${#strings.equals(leave.status, 'UPDATED')}">
			<a href="#"class="btn btn-primary btn-sm"
				th:href="@{/AdminLeave/leave/edit/}+${leave.leaveId}">Edit</a>
			</div>
			</td>
			<td>
			<div th:if="${#strings.equals(leave.status, 'APPLIED')}or ${#strings.equals(leave.status, 'UPDATED')}">
			<a href="#"class="btn btn-secondary btn-sm"
				th:href="@{/staff/leave/delete/}+${leave.leaveId}">Delete</a>
			</div>
			</td>
			<td>
			<div
				th:if="${#strings.equals(leave.status, 'APPROVED')}">
				<a class="btn btn-secondary btn-sm"th:href="@{/staff/leave/cancel/}+${leave.leaveId}">Cancel</a>
			</div>
			</td>
		</tr>
		 </tbody>
	</table>
	   </div>
	   
<!--pagination-->	
<div>
<nav aria-label="..." class="col-6">
  <ul class="pagination pagination-sm">
    <li class="page-item"><a class="page-link" th:href="@{/AdminLeave/leave/backward/}+${currentPage}">&laquo;</a></li>
    <li class="page-item"th:each="i: ${#numbers.sequence(1, top1)}" ><a class="page-link" th:href="@{/AdminLeave/leave/navigate(pageNo=${i})}" th:text="${i}"></a ></li>
    <li class="page-item"><a class="page-link" th:href="@{/AdminLeave/leave/forward/}+${currentPage}">&raquo;</a></li>
  </ul>
</nav>
					
		<div class="col-12">
     <label for="Display number" class="form-label">Display number : </label> 			
		<select th:onchange="'window.location.href=\'/AdminLeave/leave/list/\' + this.value;'" id="pageSize" name="pageSize">
			<option th:value="10" th:text="10" th:selected="${pageSize == 10}"></option> 
			<option th:value="20" th:text="20" th:selected="${pageSize == 20}"></option>
			<option th:value="25" th:text="25" th:selected="${pageSize == 25}"></option> 
			<option th:value="30" th:text="30" th:selected="${pageSize == 30}"></option> 
		</select >
</div>
</div>
</body>
</html>