<!--page for staff themself history-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout-admin.html :: html_head" />

<body>
	<div th:replace="fragment/layout-admin.html :: nav_topbar" />
	<div th:replace="fragment/layout-admin.html :: nav_sidebar" />

			<div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
          <h1 class="h2">Holiday List</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <a th:href="@{/AdminLeave/holiday/new}" class="btn btn-sm btn-outline-secondary">Create New holiday</a>
          </div>
        </div>

	<h2 th:if="${#lists.isEmpty(holidays)}">No holidays</h2>
	<table th:if="${not #lists.isEmpty(holidays)}" >
		<tr >
			<th >Holiday Id</th>
			<th >Holiday</th>
			<th >Start Date</th>
			<th >End Date</th>
			
		</tr>
		<tr th:each="holiday:${holidays}" class="table-row">
			<td th:text=${holiday.holidayId}>Id</td>
			<td th:text=${holiday.holidayDesc}>Desc</td>
			<td th:text="${#temporals.format(holiday.startDate, 'dd/MM/yyyy')}">Start Date</td>
			<td th:text="${#temporals.format(holiday.endDate, 'dd/MM/yyyy')}">End Date</td>
			<td><a
				th:href="@{/AdminLeave/holiday/delete/}+${holiday.holidayId}">Delete</a></td>
		</tr>
	</table>
	

<!-- 
	<div class="pagination"> 
          <a class="paginate" th:href="@{/AdminLeave/leave/backward/}+${currentPage}">&laquo;</a>
          <a th:each="i: ${#numbers.sequence(1, top1)}" class="paginate" th:href="@{/AdminLeave/leave/navigate(pageNo=${i})}" th:text= "${i}"></a >
          
          
          <a class="paginate" th:href="@{/AdminLeave/leave/forward/}+${currentPage}">&raquo;</a>
     </div>
    <fieldset>
			pagesize <select >
				<option><a href="@{/staff/leave/list/1}">1</a></option>  
				<option><a href="@{/staff/leave/list/2}">2</a></option>
				<option><a href="@{/staff/leave/list/3}">3</a></option>
			</select>
	</fieldset>
     
     <div class="col-12">
						<a class="btn btn-primary me-2" th:href="@{/AdminLeave/leave/list/1}">1</a> 
						<a class="btn btn-primary me-2" th:href="@{/AdminLeave/leave/list/2}">2</a> 
						<a class="btn btn-primary me-2" th:href="@{/AdminLeave/leave/list/3}">3</a> 
					</div> -->
</body>
</html>