<!--page for staff themself history-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout-admin.html :: html_head" />

<body>
	<div th:replace="fragment/layout-admin.html :: nav_topbar" />
	<div th:replace="fragment/layout-admin.html :: nav_sidebar" />
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Holiday List</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <a th:href="@{/AdminLeave/holiday/new}" class="btn btn-sm btn-outline-secondary">Create New holiday</a>
          </div>
        </div>

	<h2 th:if="${#lists.isEmpty(holidays)}">No holidays</h2>
	<div class="table-responsive">
	<table th:if="${not #lists.isEmpty(holidays)}" class="table table-hover">
		<tr >
			<th >Holiday Id</th>
			<th >Holiday</th>
			<th >Start Date</th>
			<th >End Date</th>
			
		</tr>
		<tr th:each="holiday:${holidays}" class="table-row">
			<td th:text=${holiday.holidayId}>Id</td>
			<td th:text=${holiday.holidayDesc}>Desc</td>
			<td th:text="${#temporals.format(holiday.startDate, 'dd/MM/yyyy')}">Start Date</td>
			<td th:text="${#temporals.format(holiday.endDate, 'dd/MM/yyyy')}">End Date</td>
			<td><a
				th:href="@{/AdminLeave/holiday/delete/}+${holiday.holidayId}">Delete</a></td>
		</tr>
	</table>
	</div>
	
</main>
</body>
</html>