<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout-admin.html :: html_head" />

<body>
	<div th:replace="fragment/layout-admin.html :: nav_topbar" />
	<div th:replace="fragment/layout-admin.html :: nav_sidebar" />

	<!-- YOUR CONTENT GOES HERE -->
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

		<!-- FORM -->
		<div class="pt-3 col-md-7 col-lg-8">
<style>
    .error {
        color: red;
    }
</style>
			<h4 class="mb-3">Create holiday</h4>
			<!-- create hidden id tag-->
			<form action="#" th:object="${holiday}" th:action="@{/AdminLeave/holiday/new}"
				method="post">
				<div class="row g-3">
					<div class="col-sm-6">
						<label for="holidayDesc" class="form-label">Holiday name</label> <input
							th:field="*{holidayDesc}" type="text" class="form-control" id="Desc">
						<p th:if="${#fields.hasErrors('holidayDesc')}" th:errorclass="error" th:errors="*{holidayDesc}"></p>
					</div>
						
					
				</div>
				<div class="mt-1 row g-3">
					<div class="col-md-6">
						<label for="startdate" class="form-label">Start Date</label>
						<input th:field="*{startDate}" placeholder="dd/MM/yyyy"
							type="date" class="form-control" id="startdate1" />
							<p th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"></p>
					</div>  

					<div class="col-md-6">
						<label for="endDate" class="form-label">End Date</label> 
				
						<input type="date" th:field="*{endDate}" placeholder="dd/MM/yyyy"
				th:text="${#temporals.format(holiday.endDate, 'dd/MM/yyyy')}"
							class="form-control" id="enddate1" />
							<p th:if="${#fields.hasErrors('endDate')}" th:errorclass="error" th:errors="*{endDate}"></p>
					</div>

					
					<div class="col-12">
						<input class="btn btn-primary me-2" type="submit" value="Submit" />
						<input class="btn btn-secondary" type="reset" value="Reset" />
					</div>
				</div>
			</form>
		</div>
	</main>
	<!-- END OF YOUR CONTENT -->

	<div th:replace="fragment/layout-admin.html :: js_script" />
</body>
</html>