
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles"/>
<meta charset="ISO-8859-1">

<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Eployee's Personal Leave History</h1>
	
		<!-- some sessions code -->
		 
		<form action="#" th:object="${leave}" th:action="@{/leave/search}"
		 method="post">
	  		<fieldset>
				Employee ID: <input type="text" th:field="*{user.userId}" />
				<p th:if="${#fields.hasErrors('user.userId')}" th:errors="*{user.userId}"></p>
			</fieldset>
			<fieldset>
				<input type="submit" value="Search"/>
			</fieldset>
			
		</form>
		
		<br />
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>