<!-- Movement Register Template -->
<!-- This is a menu available for all users and 
	upon clicking the hyperlink, 
	the system displays details of all employees on leave 
	during the current month and the category of leave. 
	Users can also navigate to the previous and next month 
	using a dropdown choice list. -->
	
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles"/>
<meta charset="ISO-8859-1">

<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<h1>Movement Register</h1>
	
	<!-- pull all leaves for this mth plus details -->
	
	<!-- dropdown box providing previous and next mth --> 
	<form action="#" th:object="${leave}" th:action="@{/leave/view}"
		 method="post">
		<fieldset>
		Select Month: <select name="mth" style="height: 25px; width: 160px">
			<option th:each="mthlist:${mthlist}" th:value="${mthlist}"
			th:text="${mthlist}"></option>
			</select>
	<!--Select Date: <input type="date" name="startDate" th:field="*{startDate}"/>	-->
		</fieldset>
		<fieldset>
		Select Year: <select name="yr" style="height: 25px; width: 160px">
			<option th:each="yrlist:${yrlist}" th:value="${yrlist}"
			th:text="${yrlist}"></option>
			</select>
		</fieldset>
		<fieldset>
			<input type="submit" value="View"/>
		</fieldset>
	</form>	
	
		<h2 th:if="${not #lists.isEmpty(mvtleaves)}">Leaves: </h2>
	<table th:if="${not #lists.isEmpty(mvtleaves)}" >
		<tr >
			<th>Leave Id</th>
			<th>Employee's Name</th>>
			<th>Leave Type</th>
		<!--	<th>Leave Balance</th> -->
			<th>Leave Application Date</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Reason</th>
			<th>Work Dissemination</th>
			<th>Status</th>
		</tr>
		
		<tr th:each="leave:${mvtleaves}" >
			<td th:text=${leave.leaveId}>Id</td>
			<td th:text="${leave.user.firstName}"> Name</td>
			<td th:text=${leave.type}>Leave Type</td>
		<!--	<td th:text=${leave.user.bal}>Leave Balance</td> -->
			<td th:text="${#temporals.format(leave.appliedDate, 'dd-MM-yyyy')}">Applied Date</td>
			<td th:text="${#temporals.format(leave.startDate, 'dd-MM-yyyy')}">Start Date</td>
			<td th:text="${#temporals.format(leave.endDate, 'dd-MM-yyyy')}">End Date</td>
			<td th:text=${leave.reason}>Reason</td>
			<td th:text=${leave.workdissem}>Work Dissemination</td>
			<td th:text=${leave.status}>status</td>			
		</tr>
	</table>	
	
	<br />
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>