<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout-staff.html :: html_head" />

<body>
	<div th:replace="fragment/layout-staff.html :: nav_topbar" />
	<div th:replace="fragment/layout-staff.html :: nav_sidebar" />

	<!-- YOUR CONTENT GOES HERE -->
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

		<!-- FORM -->
		<div class="pt-3 col-md-7 col-lg-8">
<style>
    .error {
        color: red;
    }
</style>
			<h4 class="mb-3">Apply New Leave</h4>
			<!-- create hidden id tag-->
			<form action="#" th:object="${leave}" th:action="@{/staff/leave/new}"
				method="post">
				<div class="row g-3">
					<div class="col-md-6">
						<label for="type" class="form-label">Leave Type</label><select
							th:field="*{type}" class="form-select" id="type">
							<option th:value="''" th:text="---Choose----"></option>
							<option th:value="Annual" th:text="Annual"></option>
							<option th:value="Medical" th:text="Medical"></option>
							<option th:value="Compensation" th:text="Compensation"></option>
						</select>
						<p th:if="${#fields.hasErrors('type')}" th:class="error" th:errors="*{type}"></p>
						
					</div>
				</div>
				<div class="mt-1 row g-3">
					<div class="col-md-6">
						<label for="startDate" class="form-label">Start Date</label>
						<input th:field="*{startDate}" placeholder="dd/MM/yyyy"
				th:text="${#temporals.format(leave.startDate, 'dd/MM/yyyy')}"
							type="date" class="form-control" id="startDate" />
							<p th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"></p>
					</div>

					<div class="col-md-6">
						<label for="endDate" class="form-label">End Date</label> 
						<input type="date" th:field="*{endDate}" placeholder="dd/MM/yyyy"
				th:text="${#temporals.format(leave.endDate, 'dd/MM/yyyy')}"
							class="form-control" id="endDate" />
							<p th:if="${#fields.hasErrors('endDate')}" th:errorclass="error" th:errors="*{endDate}"></p>
					</div>

					<div class="col-sm-6">
						<label for="reason" class="form-label">Reason</label> <input
							th:field="*{reason}" type="text" class="form-control" id="reason">
						<p th:if="${#fields.hasErrors('reason')}" th:errorclass="error" th:errors="*{reason}"></p>
					</div>

					<div class="col-sm-6">
						<label for="firstName" class="form-label">Contact Details</label>
						<input th:field="*{contactdetail}"  type="tel" class="form-control" id="contactdetail" />
						<p th:if="${#fields.hasErrors('contactdetail')}" th:errors="*{contactdetail}"></p>
					</div>

					<div class="col-sm-12">
						<label for="firstName" class="form-label">Work Dissemination</label>
						<textarea th:field="*{workdissem}" class="form-control" placeholder="Leave a comment here"
							id="floatingTextarea"></textarea>
							<p th:if="${#fields.hasErrors('workdissem')}" th:errors="*{workdissem}"></p>
					</div>
					
					<div class="col-sm-6">
	
						<p th:if="${errormsg != null}" th:class="error" th:text="${errormsg}"></p>
					</div>
					
					<div class="col-12">
						<input class="btn btn-primary me-2" type="submit" value="Submit" />
						<input class="btn btn-secondary" type="reset" value="Reset" />
					</div>
				</div>
			</form>
		</div>
	</main>
	<!-- END OF YOUR CONTENT -->

	<div th:replace="fragment/layout-staff.html :: js_script" />
</body>
</html>