<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout-admin.html :: html_head" />

<body>
	<div th:replace="fragment/layout-admin.html :: nav_topbar" />
	<div th:replace="fragment/layout-admin.html :: nav_sidebar" />
	
	 <!--CONTENT-->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
          <h1 class="h2">Staff</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <a th:href="@{/AdminUser/add}" class="btn btn-sm btn-outline-secondary">Create New User</a>
          </div>
        </div>

        <div class="table-responsive">
          <table th:if="${not #lists.isEmpty(userlist)}" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Approving Officer</th>
                <th scope="col">Modify</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="user:${userlist}">
                <th th:text=${user.userId} scope="row">1</th>
                <td th:text=${user.firstName}>staff name</td>
                <td th:text=${user.position}>Staff</td>
                <td>[approving officer name]</td>
                <td><a th:href="@{/AdminUser/edit/}+${user.userId}"><span data-feather="edit"></span></a></td>
                <td><a th:href="@{/AdminUser/delete/}+${user.userId}"><span data-feather="trash-2"></span></a></td>
              </tr>
              
            </tbody>
          </table>

        
        </div>
        </main>

	<div th:replace="fragment/layout-admin.html :: js_script" />
</body>
</html>